/* Default style */
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/* End default style*/


/* Font */
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Light.eot');
	src: local('☺'), url('../fonts/Montserrat-Light.woff') format('woff'), url('../fonts/Montserrat-Light.ttf') format('truetype'), url('../fonts/Montserrat-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.eot');
	src: local('☺'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.eot');
	src: local('☺'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
/* End font */


html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  user-select: none;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Hero section */
.hero {
  min-height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  padding-top: 50px;
  background: black;
}

.hero__info {
  width: 100%;
  text-align: center;
}

.hero__head {
  font-size: 5rem;
  font-weight: 500;
  color: white;
}

.hero__subheading {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: .5rem;
  color: whitesmoke;
}

.hero__button {
  display: inline-block;
  margin-top: 30px;
  padding: 2rem 5rem;
  background: rgba(85, 85, 85, 0.534);
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: .6rem;
  color: white;
  text-decoration: none;
}

.hero__img {
  height: auto;
  width: 40%;
  margin-bottom: 3rem;
}

.hero__img img {
  height: 100%;
  width: 100%;
}
/* End hero section */


/* Start about section */
.about {
  width: 100%;
  min-width: 50vh;
  flex-direction: column;
  padding: 10rem 5 rem;
}

.about__info {text-align: center;}

.about__heading {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  color: black;
}

.about__desc {
  margin-top: 10px;
  font-size: 1.3rem;
  line-height: 2rem;
}

.about__button {
  display: inline-block;
  padding: 1.6rem 2.6rem;
  margin: 20px 0;
  background: rgba(0, 0, 0, 0.548);

  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: whitesmoke;
  text-decoration: none;
}

.about__wrapper {
  height: auto;
  max-width: 400px;

  display: inline-block;
  position: relative;
  margin-top: 30px;
}

.about__wrapper img {
  height: 100%;
  width: 100%;
}

.about__wrapper::after {
  content: '';
  width: 70%;
  height: 120%;
  position: absolute;
  right: -5rem;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(34, 33, 33, 0.158);
  z-index: -1;
}
/* End about section */


/* Start service section */
.services {
  min-height: 60vh;
  flex-direction: column;
  padding: 10rem 5rem;
}

.service__header {
  width: 100%;
  text-align: center;
}

.service__title {
  font-size: 4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: black;
}

.service__desc {
  margin-top: 20px;
  font-size: 1.3rem;
  line-height: 2rem;
}

.service__info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}

.service {
  width: 100%;
  min-height: 300px;
  position: relative;
  margin: 5px;
  transition: .3s ease transform;
}

.service__card {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: .3s ease transform;
}

.service__front,
.service__back {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  backface-visibility: hidden;
  background: rgba(0, 0, 0, 0.13);
  padding: 10px;
}

.service__back,
.service:hover .service__card {
  transform: rotateY(180deg);
}

i {
  margin-bottom: 10px;
  font-size: 4rem;
  color: black;
}

.service__front_title,
.service__back_title {
  font-size: 2.5rem;
  text-transform: capitalize;
}

.service__back_desc {
  margin-top: 10px;
  text-align: center;
  font-size: 1.3rem;
}

.service:nth-of-type(2) .service__front {
  position: relative;
  background: url('../img/test.jpg');
  background-size: cover;
  color: white;
}

.service:nth-of-type(2) .service__front::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.274);
  z-index: -1;
}

.service:nth-of-type(2) i {
  color: white;
}
/* End service section */


/* Footer section */
.footer {
  min-height: 20vh;
  width: 100%;
  flex-direction: column;
  padding: 5rem;
  text-align: center;
  background: black;
  color: white;
}

.footer__heading {
  margin-bottom: 10px;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer__info {
  padding-top: 10px;
  font-size: 1.4rem;
  letter-spacing: .2rem;
}

.footer__follow-icon a {
  display: inline-block;
  margin: .4rem;
  color: white;
  font-size: 3rem;
}
/* End footer section */

